$white: #FFFFFF;
$semiWhite: #F6F6F6;
$red: #FF0E0E;
$green: #00CEA6;
$lightGray: #C4C4C4;
$semiGray: #89898B;
$black: #1D1C21;
$btnWhite:#D8D8D9;
$placeholderColor: #36353D;
$linear0: #210808;
$linear100:rgba(58, 58, 58, 0.3);
